# Análisis de Datos con Pandas: Carga y Exploración de DataFrames

In [1]:
!pip install kagglehub

Requirement already satisfied: kagglehub in c:\users\kevin\desktop\python-data-science\venv\lib\site-packages (0.3.12)
Requirement already satisfied: packaging in c:\users\kevin\desktop\python-data-science\venv\lib\site-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in c:\users\kevin\desktop\python-data-science\venv\lib\site-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in c:\users\kevin\desktop\python-data-science\venv\lib\site-packages (from kagglehub) (2.32.4)
Requirement already satisfied: tqdm in c:\users\kevin\desktop\python-data-science\venv\lib\site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\kevin\desktop\python-data-science\venv\lib\site-packages (from requests->kagglehub) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kevin\desktop\python-data-science\venv\lib\site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\kevin\desktop\python-data-science\venv\lib\site-packages (from requests->kagglehub) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kevin\desktop\python-data-science\venv\lib\site-packages (from requests->kagglehub) (2025.7.14)
Requirement already satisfied: colorama in c:\users\kevin\desktop\python-data-science\venv\lib\site-packages (from tqdm->kagglehub) (0.4.6)

In [2]:
import kagglehub
import os

# Download latest version
path = kagglehub.dataset_download("tunguz/online-retail")

print("Path to dataset files:", path)
print(os.listdir(path))

c:\Users\kevin\Desktop\Python-Data-Science\venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: C:\Users\kevin\.cache\kagglehub\datasets\tunguz\online-retail\versions\1
['Online_Retail.csv']

In [3]:
path = path + '\\Online_Retail.csv'
path

'C:\\Users\\kevin\\.cache\\kagglehub\\datasets\\tunguz\\online-retail\\versions\\1\\Online_Retail.csv'

In [4]:
import pandas as pd

In [5]:
retail_data = pd.read_csv(path, encoding='ISO-8859-1', low_memory=False)
print(type(retail_data))
retail_data.head()

<class 'pandas.core.frame.DataFrame'>

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [6]:
# Para un excel
# data_excel = pd.read_excel(path)

In [7]:
# Para un json
# data_json = pd.read_json(path)